<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="max-width:600px;margin:auto">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width:600px">  
            <tbody><tr>
                <td bgcolor="#051036" align="center" valign="top" style="text-align:center;background-position:center center!important;background-size:cover!important">        
                    <div>          
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:600px;margin:auto">
                            <tbody><tr>
                                <td align="right" valign="middle">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:600px;margin:auto">
                                    <tbody><tr>
                                        <td valign="middle" style="text-align:center;padding:0">
                                        <img src="https://iili.io/JGOF3kN.png" alt="banner" style="border: 0; width: 100%; display:block;height:auto;font-family:'Roboto',sans-serif;font-size:15px;line-height:20px;color:#fff; height: 150px;">
                                        </td>
                                    </tr>
                                </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>      
                    </div>    
                </td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="#FFFFFF">
                        <tbody><tr>
                            <td style="padding:40px 40px 20px 40px;text-align:center; height: 175px;">
                                <img src="https://iili.io/JGSvsFs.png" width="100%" border="0" style="display:block;height:auto;font-family:'Roboto',sans-serif;font-size:15px;line-height:20px;color:#fff;max-width:408px;margin:0 auto; height: 120px;">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:20px 40px 20px 40px;text-align:center; margin-top: 20px;">
                                <h1 style="margin:0;font-family:'Roboto','Arial',sans-serif;font-size:32px;line-height:30px;color:#333333;font-weight:bold;letter-spacing:0px; margin-bottom: 15px;">Te damos la bienvenida!</h1>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0px 40px 20px 40px;font-family:'Roboto',sans-serif;font-size:17px;line-height:20px;color:#555555;text-align:center;font-weight:300">
                                <p style="margin:0 0 5px">Inicia sesion con el siguiente codigo de confirmacion.</p>
                        </td></tr>
                        <tr>
                            <td style="padding:20px 40px 40px 40px;text-align:center" align="center">  
                                <table role="presentation" align="center" cellspacing="0" cellpadding="0" border="0" class="m_-207233922449449076center-on-narrow">
                                    <tbody><tr>
                                        <td style="border-radius:8px;background:#ffffff;text-align:center">
                                            <div style="background:#ffffff;border:2px solid #e2e2e2;font-family:'Roboto',sans-serif;font-size:30px;line-height:1.1;text-align:center;text-decoration:none;display:block;border-radius:8px;font-weight:bold;padding:10px 40px">
                                                <span style="color:#333;letter-spacing:5px">{codigo}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>   
            <tr>
                <td bgcolor="#fff">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#FFFFFF" style="border-top:1px solid #e2e2e2">
                        <tbody><tr>
                            <td style="padding:25px 30px;text-align:center;font-family:'Roboto',sans-serif;font-size:15px;line-height:20px">
                                <table align="center" style="text-align:center">
                                    <tbody><tr>
                                        <td style="font-family:'Roboto',sans-serif;font-size:12px;line-height:20px;color:#555555;text-align:center;font-weight:300; height: 110.5px">
                                            <p style="margin-bottom: 10px; height: 40px;">Has recibido este correo electronico porque has solicitado iniciar sesion en Vimen's. Puedes ignorar este mensaje si no lo has solicitado.</p>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>       
            <tr>
                <td bgcolor="#000000">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody><tr>
                            <td align="left" style="padding:40px 10px 40px 40px;font-family:'Roboto',sans-serif;font-size:14px;line-height:20px;color:#ffffff;text-align:left;font-weight:300">
                                <p style="margin:0 0 10px 0"><a href="https://github.com/Vimen1803/Casino-Python-w-JsonDB" style="color:#ffffff;font-size:12px;font-weight:bold;text-decoration:none">Repositorio</a></p>
                                <p style="margin:0"><a href="mailto:victormnjfan@gmail.com" style="color:#ffffff;font-size:12px;font-weight:bold;text-decoration:none">Soporte</a></p>
                            </td>
                            <td align="right" style="padding:40px 40px 40px 10px;text-align:right">
                                <a href="https://twitter.com/Viiictooor18"><img src="https://iili.io/JGOFd2R.jpg" alt="" width="80" height="70"></a>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>
    </div>